body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightyellow;
}

h1 {
    font-size: 50px;
    color: blueviolet;
}

p {
    font-size: 20px;
    color: lime;
}

/* NAV BAR CODE */
nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: mediumturquoise;
}
nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: grey;
    color: honeydew;
}
/* NAV BAR CODE END */

.img-center {
    border: groove;
    border-width: 5px;
    border-radius: 10px 0;
}